{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <div class="container" id="comments" >
        <div class="row">

            {% if comments %}
                <div class="col-md-7" >
                    <h3 class="text" id="coms">All comments for the post</h3>
                    {% for comment in comments %}
                        <div class="card w-90 mb-3" >
                           <div class="card-body">
                            <h5>{{comment.blog.title}}</h5>
                             <p class="card-title">{{ comment.comment }}</p>
                             <p class="card-text">--- {{comment.user.username}}</p>
                           </div>
                        </div>
                    {% endfor %}
                   </div>
                   <div class="col-md-5  commentform" id="commentform">

                        {{wtf.quick_form(form)}}
                   </div>
               </div>
            {%else%}
            <div class="card w-90 mb-3">
                <div class="card-body">
                  <p class="card-title">Be the first to comment</p>
                </div>
            </div> 
            <div class="col-md-5">
                    {{wtf.quick_form(form)}}
                </div>
            {%endif%}
    </div>
   
{% endblock%}