{% extends 'base.html'%}
{% import 'macros.html' as macro %}

<title>{{ title }}</title>

{% block content%}
<div class="container-fluid">
    <div class="px-4 py-5 my-5 text-center">
        <div class="" id="fluid">
			<h1>E-Blog</h1>
			<figure class="text-center text-pink">
				<blockquote class="blockquote">
					<p style="font-size:25px;">{{ quotes.quote }}</p>
				</blockquote>
				<figcaption class="blockquote-footer">
					<cite title="Source Title"> ~~{{quotes.author}}</cite>
				</figcaption>
			</figure>
		</div>
    </div>
</div>
<header id="header">Trending Blogs</header>
<div class="container" id="posts">
	{{ macro.display(post)}}
</div>
{% endblock %}

