
{% macro display(post)%}
{% if post %}
 {%for p in post %}
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card">
        <div class="well well-lg" id="cat">
            <h4>{{p.title}}</h4>
            <hr>
            <p>{{p.post | truncate(100)}}</p>
            <a href="{{url_for('main.likes',id=p.id)}}"><i class="fa fa-thumbs-up"></i>{{p.upvote.count()}}</a>  |
            <a href="{{url_for('main.dislikes',id=p.id)}}"><i class="fa fa-thumbs-down"></i>{{p.downvote.count()}}</a>
            <a href="{{url_for('main.comment',blog_id=p.id)}}"><i class="fas fa-comments" style="padding-left: 3%; cursor: pointer;"></i>{{ p.comment.count()}}</a>  |
            <a href="{{url_for('main.delete_blog',blog_id=p.id)}}"><i class="fa fa-trash" style="color: rgb(13, 132, 172);"></i>{{ p.delete_blog}}</a>   |
            <a href="{{url_for('main.edit_blog',id=p.id)}}"><i class="fas fa-edit" style="color: rgb(13, 132, 172);"></i>{{ p.edit_blog}}</a>
            <footer class="blockquote-footer text-center">~~ {{p.user.username}}</footer>
        </div>
    </div>
    
 {%endfor%}
{% if post %}
<a href="{{url_for('main.create_blog')}}" class="btn btn-info -center" style="margin-top:2% ;" id="btn">Create A New Blog</a>
{%endif%}
{%else%}
<div class="col-12">
  <h3 style="color: palevioletred;">No Blogs added yet. Be the first!</h3>
  <a href="{{url_for('main.create_blog')}}" class="btn btn-info -center" style="margin-top:2% ;margin-left: 50%;" id="btn">Create A New Blog</a>

</div>
{%endif%}
{%endmacro%}



