{% macro displayBlogs(blogs)%}


<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    {% if blogs %}
  <div class="carousel-inner">
      {% for post in blogs%}
    <div class="carousel-item active">
      <img src="{{url_for('static', filename='photos/' + post.user.profile_pic_path) }}" class="d-block w-100" alt="...">
      <h2>{{post.title}}</h2>
      <p>{{post.posts | truncate(100)}}</p>
      <footer>{{p.user.username}}</footer>
    </div>
     {%endfor%}
    
  </div>
  {%endif%}
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{%endmacro%}