
{% macro display(post)%}
{% if post %}
 {%for p in post %}
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card">
        <div class="well well-lg" id="cat">
            <h4>{{p.title}}</h4>
            <hr>
            <p>{{p.post | truncate(100)}}</p>
            
            <footer class="blockquote-footer text-center">~~ {{p.user.username}}</footer>
        </div>
    </div>
    
 {%endfor%}
{% if post %}
<a href="{{url_for('main.create_blog')}}" class="btn btn-info -center" style="margin-top:2% ;" id="btn">Create A New Blog</a>
{%endif%}
{%else%}
<div class="col-12">
  <h3>No Blogs added yet. Be the first!</h3>
  <a href="{{url_for('main.create_blog')}}" class="btn btn-info -center" style="margin-top:2% ;margin-left: 50%;" id="btn">Create A New Blog</a>

</div>
{%endif%}
{%endmacro%}



